<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login works.....</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="test()" color="primary">Go to tabs after login</ion-button>
  <br>
  <ion-button (click)="test1()" color="danger">Register yourself</ion-button>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="test()" color="secondary" expand="block">Sign In</ion-button>
        <ion-button type="submit" (click)="test1()" color="dark" >Register YourSelf</ion-button>
        <a [routerLink]="['']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>